section[name="lightsaber"]:after {
  animation-name: wobbleLight;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes wobbleLight {
  0% {
  }
  20% {
    transform: perspective(12px) rotateX(-24deg) rotateY(-50deg) rotateZ(121deg);
  }
  30% {
  }
  50% {
    transform: perspective(12px) rotateX(-24deg) rotateY(-50deg) rotateZ(121deg);
  }
  80% {
  }
  100% {
    transform: perspective(12px) rotateX(-10deg) rotateY(-50deg) rotateZ(50deg);
  }
}
