* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  padding-top: 150px;
}
section[name="lightsaber"] {
  position: relative;
  color: #fff;
}

section[name="lightsaber"] input[type="checkbox"] {
  opacity: 0;
}
section[name="lightsaber"] label {
  cursor: pointer;
  display: block;
  height: 50px;
  width: 15px;
  background: #d0c8be;
  border-bottom: solid 4px gray;
  border-top: solid 4px gray;
  border-radius: 5px;
}

section[name="lightsaber"] label[name="plasma"] {
  --saberColor: green;
  position: absolute;
  bottom: 64px;
  left: 3px;
  border-radius: 12px 12px 0 0;
  /* background: rgb(135, 220, 90);
  background: linear-gradient(
    to right,
    rgb(135, 220, 90) 30%,
    rgb(254, 254, 254) 30%,
    rgb(254, 254, 254) 50%,
    rgb(254, 254, 254) 50%,
    rgb(135, 220, 90) 100%
  ); */

  background: var(--saberColor);
  height: 0px;
  width: 10px;
  filter: blur(1px);
  transition: 0.3 height;
}

section[name="lightsaber"]
  input[type="checkbox"]:checked
  ~ label[name="plasma"] {
  height: 300px;
  margin-bottom: -18px;
  z-index: 10;
}

/* colorPicker */
input[type="radio"] {
  cursor: pointer;
}

/* input[type="radio"]:nth-child(0):after {
  color: blue;
}
input[type="radio"]:nth-child(1) {
  color: orange;
  position: absolute;
}
input[type="radio"]:nth-child(2) {
  color: Yellow;
}
input[type="radio"]:nth-child(3) {
  color: Green;
}
input[type="radio"]:nth-child(4) {
  color: red;
} */

input[data="Orange"]:checked ~ label {
  --saberColor: Orange;
}
input[data="Yellow"]:checked ~ label {
  --saberColor: yellow;
}
input[data="Green"]:checked ~ label {
  --saberColor: Green;
}

input[data="Red"]:checked ~ label {
  --saberColor: fireBrick;
}
input[data="Blue"]:checked ~ label {
  --saberColor: Blue;
}

ul[name="buttons"] {
  width: 25px;
  height: 25px;
  margin: 2px, 2px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 10px;
  top: 30vh;
}
label[name="btn"] {
  padding: 5px 5px;
  background-color: var(--saberColor);
  color: var(--saberColor);
  margin: 10px 10px;
}
