  /* ..................................ADD DARK MODUS CSS.................................. */
  @media screen and (prefers-color-scheme: dark) {
    body {
        background-image: url(/images/bg_dark.jpg);
    }
   #bgPlate{
 color: black;
   }
    }
/* ...................................add light modus css.................................. */
    @media screen and (prefers-color-scheme: light) {
        body {
            background-image: url(/images/bg.jpg);
   
        }
      }
  

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/images/bg.jpg);
    background-size: 100%;
    color:#fff;
    font-family: sans-serif;

}
/*..................................Start zin met hoofdletter..................................*/
p:first-letter {text-transform:uppercase;}
h3:first-letter {text-transform:uppercase;}



h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 20px;

}
h3{
    color: #fff;
    padding: 10px;
    text-align: center;

  
}
p{
    text-align: center;
    padding: 10px;
  
}
/*..................................quotes..................................*/
blockquote{
font-family: 'Courier New', Courier, monospace;
float: left;
position: absolute;
width: 100%;
color: skyblue;
font-weight: 900;
background-color: tomato;
border-radius: 30px;
padding: 10px;
text-align: center;

}

 /*..................................SVG..................................*/
main svg:first-child{
    width: 100%;
    display: block;
}

/*..................................NAVIGATIE..................................*/

nav{
    position: fixed; 
    bottom: 0;
  

}

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    
}

nav a{
    color: rgb(14, 133, 97);
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(10deg, pink, lightgoldenrodyellow);
    display: block;
    padding: 0.8em ;
    margin: 0.5em;
    border-radius: 15px;
}  

nav a:hover{
    color: skyblue;
    background: linear-gradient(100deg, pink, lightgoldenrodyellow);
    border-style: dotted;
}



/*..................................TITEL ANIMATION..................................*/
h1{
    animation: type 3s steps(17) infinite;
    overflow: hidden;
    white-space: nowrap;
    font-size: 80px;
    border-right: 4px solid black;
    width: 2ch;
    text-transform: uppercase;
  text-align: center;

                                                              
}


@keyframes type 
{ to {width:20ch}
    
}
header{
    font-size: 30px;
    padding: 5px;
    font-weight: 900;
    color:#fff;
    margin: 2.5em;
    text-align: center;
   

}
/*.......................TOGGLE DARKMODUS source: https://codepen.io/AngelaVelasquez/pen/cihEG..................................  */
/*.................................. DAY STYLE..................................*/

  .the-container{
    display: block;
    position: absolute;
    width: 500px;
    height: 350px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
top: 130vh;

  }
  

  
  input[type=checkbox] {
      position: absolute;
      visibility: hidden;
  }
  
   input#toggle[type=checkbox]{
       display:none;
   }
  
  
  label {
      position: absolute;
      height: 40px;
      width: 120px;
      display: block; 
      top: 0px; bottom: 0; right: 0; left:0;
      z-index: 9999;
      cursor: pointer;
      margin: 0 auto;
  }
  
  .switch {
    display: block; 
    position: relative;
    border-bottom: 1px solid #FFF;
    border-radius: 25px;
    background:   rgb(14, 133, 97);
    height: 40px;
    width: 100px;
    margin: 0px auto 30px auto;
  }
  
  .switch .button{
    display: block; 
    position: absolute;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #AAA;
    border-radius: 100%;
    background: palevioletred;
    height: 32px; 
    width: 32px;
    top: 4px;
    left: 4px;

  }
  
  .switch .button .b-inside{
    display: block; 
    position: absolute;
    border: 1px solid #888;
    border-radius: 100%;
    background: pink;
    height: 15px; 
    width: 15px;
    top: 7px;
    left: 7px;

  }
  
  .day-night-cont {
    display: block;
    position: absolute;
    width: 180px;
    margin: 0 auto;
    left: 0; right: 0; top: 0; bottom:0;
    height: 40px;
    top: 0px;
  }
  

  /*.................................. TOGGLE ..................................*/
  
  .switch .button {
      transition: left .25s ease-in-out;
      -webkit-transition: left .25s ease-in-out;
  }
  
  input[type=checkbox]:checked ~ .switch .button {
      position: absolute;
      left: 64px;
      background: rgb(190, 85, 103);
  }

  input[type=checkbox]:checked ~ body{
    background-image: url(/images/bg_dark.jpg);
}
  

/* hover articles - source:  https://www.youtube.com/watch?v=HHqBS7xFnPM */
article
    {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    font-size: 14px;
    text-align: center;
    margin: -50px;

    }


    article .card
        {
         position: relative;
         width: 300px;
         height: 300px;
         transform-style: preserve-3d;
        perspective: 800px;
     

        }

    article .card .box
        {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: 1s ease;

  
    
    }

    article .card:hover .box
        {
        transform: rotateY(180deg);
        visibility: visible;
  
        }

    article .card .box .imgBx
        {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }

    article .card .box .imgBx .svg
        {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        }

    article .card .box .imgBx img
        {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        object-fit: cover;
        }

    article .card .box .contextBx
        {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 70%;
        backface-visibility: hidden;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        transform: rotateY(180deg);

        }
    
    article .card .box .contextBx h3
        {
        color: lightskyblue;
        font-size: 20px;
        letter-spacing: 1px;
        }

    article .card .box .contextBx p
        {
        color: skyblue;
        font-size: 14px;
        margin-bottom: 10px;
        }

    article .card .box .contextBx span
        {
        color: palevioletred;
        font-size: 24px;
        font-weight: 800;
        }
     
    article .contextBx
        {
        transform-style: preserve-3d;
        background: linear-gradient(10deg, pink, lightgoldenrodyellow);
        transform: translateZ(100px);
        border-radius: 500px;
        padding: 10px;
        }

    article .contextBx h3
        {
        margin-top: 25px;
        }

   